<footer class="form-footer">
	{{#if canRollAll}}
		<button id="roll-all" type="button">
			<i class="fas fa-dice"></i>
			<label inert="">Roll All</label>
		</button>
	{{/if}}
	<button type="submit">
		<i class="fas fa-save"></i>
		<label inert="">Submit</label>
	</button>
</footer>